#============================================================================
# Title       : 10-qdda.rules
# Description : UDEV rules file to set ACL permissions on all disks
# Author      : Bart Sjerps <bart@outrun.nl>
# License     : GPLv3+
# Info:       : run /usr/libexec/qdda-acl -h
# ---------------------------------------------------------------------------
#
# Put this file in /etc/udev/rules.d and create a group "qdda"
# Then run "udevadm trigger"
#
# Members of group qdda should now have read-only access to block devices

SUBSYSTEM!="block", GOTO="qdda_end"

GROUP=="disk", ENV{DEVTYPE}=="disk",      RUN+="/usr/libexec/qdda-acl /dev/%k", GOTO="qdda_end"
GROUP=="disk", ENV{DEVTYPE}=="partition", RUN+="/usr/libexec/qdda-acl /dev/%k", GOTO="qdda_end"

LABEL="qdda_end"

